.navbar.cusNavbar{
    background-color: #41464A;
    position: fixed;
    width:100%;
    box-shadow: 1px 1px 5px #7a8185c4;
}
.navbar.cusNavbar .nav-link{
    color:#DFF3FF;

}
.cus-navbar-bg .nav-link,.navbar-brand{
    color:#DFF3FF;
}
.navbar-toggler{
    border:1px solid #DFF3FF;
}
.navbar-toggler-icon{
    background-color: #91E89C!important;
    height: 1px;
    margin:4px 0;
    display: block;
}
/* .navbar-toggler-icon::before{
    background-color: aqua;
    height: 2px;
    content: "";
} */