<nav class="navbar navbar-expand-lg cusNavbar">
  <div class="container">
    <a class="navbar-brand" href="#home">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link activeLink" href="#home" #home (click)="highlightCurrentTopNavLink(home)">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about" #about (click)="highlightCurrentTopNavLink(about)">About</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills" #skills (click)="highlightCurrentTopNavLink(skills)">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience" #experience (click)="highlightCurrentTopNavLink(experience)">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" #portfolio (click)="highlightCurrentTopNavLink(portfolio)">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" #contact (click)="highlightCurrentTopNavLink(contact)">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-home></app-home>

<app-about></app-about>

<app-skills></app-skills>

<app-experience></app-experience>
